!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
$RECYCLE.BIN/
*.VC.VC.opendb
*.VC.db
*.aps
*.cab
*.cachefile
*.code-workspace
*.diff
*.e2e
*.err
*.ldf
*.lnk
*.log
*.mdf
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.opendb
*.opensdf
*.orig
*.psess
*.pyc
*.rej
*.sap
*.sdf
*.swo
*.swp
*.vi
*.vsp
*.vspx
*.zip
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DS_Store?
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.dropbox
.fseventsd
.history/
.idea
.localhistory/
.project
.settings
.tmproj
.vscode/*
Desktop.ini
Network Trash Folder
Temporary Items
Thumbs.db
__pycache__/
ehthumbs.db
ipch/
~$*
